.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
../idea
.DS_Store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/config/index.js
src/views/manage/workpoint/edit/list.vue
